[package]
name = "maivin-model"
description = "Maivin Detection Service"
repository = "https://bitbucket.org/au-zone/maivin-detect"
version = "0.0.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true
strip = true
debug = false

[profile.profiling]
inherits = "release"
strip = false
debug = true

[dependencies]
async-pidfd = "0.1.4"
cdr = "0.2.4"
clap = { version = "4.4.18", features = ["derive", "env"] }
deepviewrt = "0.5.0"
edgefirst-schemas = { version = "1.2.3" }
env_logger = "0.11.6"
lapjv = "0.2.1"
log = { version = "0.4", features = ["release_max_level_debug"] }
nalgebra = "0.32.6"
nix = { version = "0.29.0", features = ["time"] }
pidfd_getfd = "0.2.2"
serde_json = "1.0.138"
tokio = { version = "1.43.0", features = ["rt-multi-thread", "time", "io-std"] }
uuid = { version = "1.5.0", features = ["v4"] }
vaal = "0.3.2"
zenoh = "1.2.1"
zstd = "0.13"

[[bin]]
name = "maivin-model"
path = "src/main.rs"
