[package]
name = "maivin-detect"
description = "Maivin Detection Service"
repository = "https://bitbucket.org/au-zone/maivin-detect"
version = "0.0.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true
strip = true
debug = false

[profile.profiling]
inherits = "release"
strip = false
debug = true

[dependencies]
async-std = {version = "1.12.0", features = ["attributes"] }
deepviewrt = "0.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
toml = "0.8.10"
vaal = "0.3.2"
zenoh = "0.10.1-rc"
cdr = "0.2.4"
clap = { version = "4.4.18", features = ["derive", "env"] }
edgefirst-schemas = { git = "https://github.com/MaivinAI/schemas.git", branch = "masks" }
pidfd_getfd = "0.2.2"
async-pidfd = "0.1.4"
log = { version = "0.4", features = ["release_max_level_debug"] }
env_logger = "0.11.2"
lapjv = "0.2.1"
uuid = { version = "1.5.0", features = ["v4"] }
nalgebra = "0.32"
nix = { version = "0.28.0", features = ["time"] }
zstd = "0.13"

[[bin]]
name = "maivin-detect"
path = "src/main.rs"

[[bin]]
name = "maivin-segment"
path = "src/segmentation/main.rs"