[package]
name = "maivin-detect"
description = "Maivin Detection Service"
repository = "https://bitbucket.org/au-zone/maivin-detect"
version = "0.0.0"
edition = "2021"

[profile.release]
opt-level = 3
lto = true

[dependencies]
async-std = {version = "1.12.0", features = ["attributes"] }
deepviewrt = "0.5.0"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0.105"
toml = "0.7.6"
vaal = "0.3.2"
zenoh = "0.10.1-rc"
cdr = "0.2.4"
clap = { version = "4.4.18", features = ["derive"] }
zenoh-ros-type = { git = "https://github.com/MaivinAI/zenoh-ros-type", branch="EDGEAI-167" }
pidfd_getfd = "0.2.2"
async-pidfd = "0.1.4"
